.container {
  max-height: calc(100vh - 115px);
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 3rem;
  z-index: 2;
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.8);
  animation: logo-float 5s ease-in-out infinite;
}

@keyframes logo-float {
  0% {
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 35px 15px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(-25px);
  }
  100% {
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
  }
}
